<h1>Contact Us!</h1>
<hr>
<div id="contact">
	<h5>We are a small industry looking to improve the business of others by being the middle man. <br>If you are interested in reaching out to us for suggestions or simply interested in joining us feel free to contact us here</h5>
	<br>
	<div class="col-xs-2 left">
		<label>Please give an email address, to recieve other great deals.</label><br>
		<input class="submit">
		<input class="submit" type="submit" value="Submit"/>
	</div>
</div>