// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#orderform{
	position: absolute;
	margin-left: 35%;
	margin-top: 8%;
	background-color: lightgrey;
	padding: 40px;
	border: inset;
	border-color: grey;
}
body{
	color: black;
}